<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Volume</th>
      <th>Quantity</th>
      <th>Tag</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% household_items.each do |household_item| %>
      <%= render 'household_items/table_row', household_item: household_item %>
    <% end %>
  </tbody>
</table>
