<p id="notice"><%= notice %></p>

<h1>
  Classic Rails
  <small>
    <%= p [controller.controller_name, controller.action_name].join '#' %>
  </small>
</h1>

<hr>

<h2>
  Household Items
</h2>

<%= render 'household_items' %>

<br>

<%= link_to 'New Household Item', new_household_item_path %>
