<div id="flash_box">
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= type %>">
      <%= message %>
      <button class="close" aria-hidden="true" data-dismiss="alert" type="button">x</button>
    </div>
    <div class="clearfix"></div>
  <% end %>
</div>
