<h1>
  About
  <small>
    <%= p [controller.controller_name, controller.action_name].join '#' %>
  </small>
</h1>

<hr>

<a href="https://github.com/mnishiguchi/rails_react_webpack_app">[Github]</a>

<hr>

<p class="lead">
  I experimented Rails + React + Webpack integtation, using
  <a href="https://github.com/shakacode/react_on_rails">React on Rails</a>
  gem. This app is based on
  <a href="https://github.com/shakacode/react-webpack-rails-tutorial">shakacode/react-webpack-rails-tutorial</a>.
</p>

<p class="lead">
  Also, I compare the following three different approaches
  by implementing the same form with different approaches.
</p>

<ul>
  <li>Simple React components</li>
  <li>Default Rails</li>
  <li>Rails with Ajax</li>
</ul>
