<h1>
  <%= p [controller.controller_name, controller.action_name].join '#' %>
</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ducimus laudantium nobis? Qui eos nihil, dolorum officia, est fugiat nemo amet iure sunt. Explicabo ab nostrum delectus doloribus harum, necessitatibus.
</p>
