<h1>
  <%= p [controller.controller_name, controller.action_name].join '#' %>
</h1>

<p>Using React (Server rendering) + Redux + Rails Backend (using the
  <a href="https://github.com/shakacode/react_on_rails">react_on_rails gem</a>)
</p>

<%= react_component('App',
      props: render(template: "/comments/index.json.jbuilder"),
      prerender: true) %>
