<div class="row">
  <div class="col-xs-6">
    <h1>
      Rails (Default)
      <small>
        <%= p [controller.controller_name, controller.action_name].join '#' %>
      </small>
    </h1>
  </div>
  <div class="col-xs-6">
    <%= render 'shared/flash' %>
  </div>
</div>

<hr>

<h2>
  Add item
</h2>

<div class="row">
  <div class="col-sm-4">
    <hr>
    <%= render 'household_items/form', submit_text: "Add item" %>
  </div>
  <div class="col-sm-8">
    <%= render 'household_items/table', household_items: @household_items %>
  </div>
</div>
